meta(name='msapplication-TileColor' content=`${app.meta.color}`)
meta(name='msapplication-TileImage' content=`${app.meta.icon}`)
meta(name='theme-color' content=`${app.meta.color}`)
meta(name='description' content=`${app.meta.description}`)
link(rel='canonical' href=`${app.meta.url}`)
meta(property='og:locale' content=`${app.meta.locale}`)
meta(property='og:type' content=`${app.meta.type}`)
meta(property='og:title' content=`${app.meta.title}`)
meta(property='og:description' content=`${app.meta.description}`)
meta(property='og:url' content=`${app.meta.url}`)
meta(property='og:site_name' content=`${app.meta.site_name}`)
meta(property='og:image' content=`${app.meta.image}`)
meta(property='og:image:secure_url' content=`${app.meta.image}`)
meta(name='twitter:card' content='summary_large_image')
meta(name='twitter:description' content=`${app.meta.description}`)
meta(name='twitter:title' content=`${app.meta.title}`)
meta(name='twitter:site' content=`${app.meta.twitter_site}`)
meta(name='twitter:image' content=`${app.meta.image}`)
meta(name='twitter:creator' content=`${app.meta.twitter_site}`)